{% extends 'base.html' %}
{% load static %}
{% block title %}Chat{% endblock title %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_messages.css' %}">
{% endblock stylesheet %}

{%  block js_imports %}
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock js_imports %}

{% block javascript %}
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                let message = $('#id_message');
                send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
                message.val('');
            })
        })
    </script>
{% endblock javascript %}

{% block content %}
    <div class="section" >
        <div class="row">

            <div class="col-sm-3">
                <div class="list-group">
                    {% for user in users %}
                        <a href="{% url 'chat' request.user.id user.id %}" id="user{{ user.id }}" class="list-group-item row">
                            <img style="width: 70px; height:70px" src="{% static 'user-default.png' %}" class="col s4" alt="User Image">
                            <div class="col-sm-5">
                                <span class="title" style="font-weight: bolder">{{ user.username }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-9 center">
                <div class="card ">
                    <ul class="chat" id="board" >
                        {% block messages %}

                        {% endblock %}
                    </ul>
                    <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-11">
                                <div class="input-group">
                                    <input class="form-control input-sm" id="id_message" name="message" type="text" placeholder="Type your message..">
                                    <span class="input-group-btn">
                                        <button class="btn btn-dark">Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}