{% extends 'chat.html' %}
{% load static %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
        {% if message.sender == request.user %}
            <div class="card-body message-container" style="width: 75%; position: relative">
                <p style="float: right; font-weight: bolder" class="title">You</p>
                <br>
                <p>{{ message }}</p>
                <span class="time-right">{{ message.timestamp }}</span>
            </div>
        {% else %}
            <div class="card-body message-container darker-message" style="width: 75%; position: relative">
                <p style="float: left; font-weight: bolder" class="title">{{ message.sender }}</p>
                <br>
                <p>{{ message }}</p>
                <span class="time-left">{{ message.timestamp }}</span>
            </div>
        {% endif %}
    {% endfor %}
    <script>
    $(function () {
        $('#user{{ receiver.id }}').addClass('active');
        //Call receive function each 1 seconds to check for new messages in the database
        setInterval(receive,1000)
    })
    </script>
{% endblock %}