{% extends 'chat.html' %}
{% load static %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
        {% if message.sender == request.user %}
            <li class="left clearfix">
                <span class="chat-img float-left">
                    {% if sender_avatar %}
                        <img src="{{ sender_avatar }}" alt="User Avatar" class="rounded-circle " />
                    {% else %}
                        <img src="{% static 'user-default.png' %}" alt="User Avatar" class="rounded-circle " />
                    {% endif %}
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">You</strong>
                        <small class="float-right text-muted">{{ message.timestamp }}</small>
                    </div>
                    <p class="float-left">{{ message }}</p>
                </div>
            </li>
        {% else %}
            <li class="right clearfix">
                <span class="chat-img float-right">
                    {% if receiver_avatar %}
                        <img src="{{ receiver_avatar }}" alt="User Avatar" class="rounded-circle " />
                    {% else %}
                        <img src="{% static 'user-default.png' %}" alt="User Avatar" class="rounded-circle " />
                    {% endif %}
{#                    <img src="{% static 'user-default.png' %}" alt="User Avatar" class="rounded-circle " />#}
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font float-right">{{ message.sender }}</strong>
                        <small class="text-muted">{{ message.timestamp }}</small>
                    </div>
                    <p class="float-right">{{ message }}</p>
                </div>
            </li>
        {% endif %}
    {% endfor %}
    <script>
    $(function () {
        let chosen_user = $('#user{{ receiver.id }}');
        // chosen_user.addClass('active');
        chosen_user.addClass('list-group-item-success');
        //Call receive function each 1 seconds to check for new messages in the database
        setInterval(receive,1000)
    })
    </script>
{% endblock %}