.app-menu li{
    color: #343a40;
}

.app-menu {
    width: 200px;
}

.app-menu li:hover {
    background-color: #ccc;
}

.app-menu li.active {
    background-color: #343a40;
    border-color: #343a40;
    color: rgba(255, 255, 255, 0.7);
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group{
    height: 100%;
}