{% extends 'base.html' %}
{#{% load static %}#}
{% block title %}Delete Art{% endblock %}
{% block content %}
    <div class="card-deck">
        <div class="card">
            <div class="card-body text-center">
                <form method="post">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <h3>Title: </h3><span>{{ object.title }}</span>
                    <h3>Description: </h3><span>{{ object.description }}</span><br>
                    <img src="{{ object.file.url }}"><br>
                    <input type="submit" class="btn btn-dark" value="Confirm" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}