{%  extends 'base.html' %}
{% load static %}
{% block title %}Art gallery{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_gallery.css' %}">
{% endblock stylesheet %}

{% block content %}
    {% if current_user %}
        <a class="btn btn-dark" href={% url 'add_art' %}>Add art</a>
    {% endif %}

    {% if not posts %}
        <p>Sorry, you have no posts</p>
    {% else %}
        <div id="wrapper">

            <div id="main-image">
                <img id="myImg" src="{{ first.art.file }}" alt="First image"/>
            </div>

            <div id="thumbs">
                <ul class="thumbs">
                    {% for post in posts %}
                        <li style="list-style-type: none;">
                            <a class="thumb" name="thumb" href="{{ post.art.file }}" title="{{ post.art.title }}">
                                <img class='galleryImage' src="{{ post.art.file }}" alt="{{ post.art.title }}" />
                            </a>
                        </li>
                    {%  endfor %}
                </ul>
            </div>

            <div id="prevButton" class="imageButton">
                <img src="{% static 'arrowLeftGrey.png' %}" alt="Left" />
            </div>

            <div id="nextButton" class="imageButton">
                <img src="{% static 'arrowRightGrey.png' %}" alt="Right" />
            </div>

        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="imgToShow">
            <div id="caption"></div>
        </div>

    {% endif %}

{% endblock %}

{%  block javascript %}

    <script type="text/javascript">
        $(function() {
            let current = $("div#thumbs li");
            let current_first = current.first();
            current_first.addClass('selected');
            current_first.addClass('first');
            let current_last = current.last();
            current_last.addClass('last');
        });

        $(document).ready(function() {
            $(".thumb").click(function() {

                  $('.selected').removeClass('selected');
                  $(this).parent().addClass('selected');
                  let big_url = $(this).attr("href");

                  let mainImage = $("#main-image img");
                  mainImage.attr("src", big_url);
                  let title = $(this).attr("title");
                  mainImage.attr("alt", title);

                return false;
            });

        });

        $(function() {
            $('#nextButton').click(function(){
                let current = $("div#thumbs li.selected");
                if (!$(current).hasClass('last')){
                    $(current).removeClass('selected');
                    current = $(current).next('li');
                    current.addClass('selected');

                    let mainImage = $("#main-image img");
                    let big_url = $("a", current).attr("href");
                    mainImage.attr("src", big_url);
                    let title = $("a", current).attr("title");
                    mainImage.attr("alt", title);
                }

            });
            $('#prevButton').click(function(){
                let current = $("div#thumbs li.selected");
                if (!$(current).hasClass('first')){
                    $(current).removeClass('selected');
                    current = $(current).prev('li');
                    current.addClass('selected');

                    let mainImage = $("#main-image img");
                    let big_url = $("a", current).attr("href");
                    mainImage.attr("src", big_url);
                    let title = $("a", current).attr("title");
                    mainImage.attr("alt", title);
                }
            });
        });
    </script>

    <script>
        // Get the modal
        let modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        let img = document.getElementById('myImg');
        let modalImg = document.getElementById("imgToShow");
        let captionText = document.getElementById("caption");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        };

        // Get the <span> element that closes the modal
        let span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
    </script>
{% endblock javascript %}