{% extends 'base.html' %}
{% load static %}
{% block title %}Friends{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
  <script>
    $( "a[class~='relateAction']" ).click(function() {
        let relate_id = this.id;
        let action = '';
        if ($(this).hasClass('unfollow')){
            action = 'unfollow';
        }
        else if ($(this).hasClass('follow')){
            action = 'follow';
        }
        else if ($(this).hasClass('block')){
            action = 'block';
        }
        else if ($(this).hasClass('unblock')){
            action = 'unblock';
        }

        let art_user_container = this.parent(".infinite-item");

        let user_id = "{{ user.id }}";
        let url_id = "{% url 'set_relationship' %}";
        $.get(url_id, {'pk': user_id, 'relate_pk': relate_id, 'action':action}, function(data){

            if (data['message']){
                alert(data['message']);
                if (data['message'] === 'success'){
                    art_user_container.remove();
                }
            }
        });
    });
  </script>
{% endblock %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" >
            <a class="nav-link active" data-toggle="tab" href="#following">Following</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#followed">Followed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#friends">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#blocking">Blocking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#blocked">Blocked</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="following" class="container tab-pane active">
            <div class="infinite-container">
                <h3>Following</h3>
                {% if data.get_following %}
                {% for friend in data.get_following %}
                    <div id="{{ friend.id }}" class="infinite-item">
                        {% if friend.user_avatar %}
                            <img src="{{ friend.user_avatar }}" />
                        {% else %}
                            <img src="{% static 'user-default.png' %}" />
                        {% endif %}
                        <a href="{% url 'user_profile' friend.user_id %}">{{ friend.get_username }}</a>
                        <a id="{{ friend.id }}" class="relateAction unfollow btn btn-dark " href="#">Unfollow</a>
                        <a id="{{ friend.id }}" class="relateAction block btn btn-danger" href="#">Block</a>
                    </div>
                {% endfor %}
                  <div class="loading" style="display: none;">
                    Loading...
                  </div>
                {% else %}
                    <p>Sorry, you have no following at the moment</p>
                {% endif %}
            </div>
        </div>

        <div id="followed" class="container tab-pane fade">
            <div class="infinite-container">
                <h3>Followers</h3>
                {% if data.get_followers %}
                {% for friend in data.get_followers %}
                    <div id="{{ friend.id }}" class="infinite-item">
                        {% if friend.user_avatar %}
                            <img src="{{ friend.user_avatar }}" />
                        {% else %}
                            <img src="{% static 'user-default.png' %}" />
                        {% endif %}
                        <a href="{% url 'user_profile' friend.user_id %}">{{ friend.get_username }}</a>
                    </div>
                    <a id="{{ friend.id }}" class="relateAction follow btn btn-dark" href="#">Get friends(follow)</a>
                    <a id="{{ friend.id }}" class="relateAction block btn btn-danger" href="#">Block</a>
                {% endfor %}
                  <div class="loading" style="display: none;">
                    Loading...
                  </div>
                {% else %}
                    <p>Sorry, you are not followed at the moment</p>
                {% endif %}
            </div>
        </div>

        <div id="friends" class="container tab-pane fade">
            <div class="infinite-container">
                <h3>Friends</h3>
                {% if data.get_friends %}
                {% for friend in data.get_friends %}
                    <div id="{{ friend.id }}" class="infinite-item">
                        {% if friend.user_avatar %}
                            <img src="{{ friend.user_avatar }}" />
                        {% else %}
                            <img src="{% static 'user-default.png' %}" />
                        {% endif %}
                        <a href="{% url 'user_profile' friend.user_id %}">{{ friend.get_username }}</a>
                    </div>
                    <a id="{{ friend.id }}" class="relateAction unfollow btn btn-dark" href="#">Unfollow</a>
                    <a id="{{ friend.id }}" class="relateAction block btn btn-danger" href="#">Block</a>
                {% endfor %}
                  <div class="loading" style="display: none;">
                    Loading...
                  </div>
                {% else %}
                    <p>Sorry, you have got no friends at the moment</p>
                {% endif %}
            </div>
        </div>

        <div id="blocking" class="container tab-pane fade">
            <div class="infinite-container">
                <h3>Blocking</h3>
                {% if data.get_blocking %}
                {% for friend in data.get_blocking %}
                    <div id="{{ friend.id }}" class="infinite-item">
                        {% if friend.user_avatar %}
                            <img src="{{ friend.user_avatar }}" />
                        {% else %}
                            <img src="{% static 'user-default.png' %}" />
                        {% endif %}
                        <a href="{% url 'user_profile' friend.user_id %}">{{ friend.get_username }}</a>
                    </div>
                    <a id="{{ friend.id }}" class="relateAction unblock btn btn-dark" href="#">Unblock</a>
                {% endfor %}
                  <div class="loading" style="display: none;">
                    Loading...
                  </div>
                {% else %}
                    <p>Sorry, you have got no blocked users at the moment</p>
                {% endif %}
            </div>
        </div>

        <div id="blocked" class="container tab-pane fade">
            <div class="infinite-container">
                <h3>Blocked</h3>
                {% if data.get_blocked %}
                {% for friend in data.get_blocked %}
                    <div class="infinite-item">
                        {% if friend.user_avatar %}
                            <img src="{{ friend.user_avatar }}" />
                        {% else %}
                            <img src="{% static 'user-default.png' %}" />
                        {% endif %}
                        <a href="{% url 'user_profile' friend.user_id %}">{{ friend.get_username }}</a>
                    </div>
                {% endfor %}
                  <div class="loading" style="display: none;">
                    Loading...
                  </div>
                {% else %}
                    <p>Sorry, you aren't blocked at the moment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}