{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
    <div class="infinite-container">
        {% if friends %}
        {% for friend in friends %}
            <div class="infinite-item">
                <img src="{{ friend.user.user_avatar }}"/>
                <p>{{ friend.user.get_username }}</p>
            </div>
            <a href="#">Add as a friend</a>
        {% endfor %}
        {% else %}
            <p>Sorry, you have no friends at the moment</p>
        {% endif %}
    </div>
{% endblock %}