{% extends 'base.html' %}
{% load static %}
{% block title %}Current Posts{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
  <script>
    $( "button[class~='appreciate']" ).click(function() {
        let art_id = this.id;
        let art_post_span = $('div.infinite-item').find('span#'+art_id);
        let action = '';
        if ($(this).hasClass('like')){
            action = 'like';
        }
        else if ($(this).hasClass('dislike')){
            action = 'dislike';
        }

        let user_id = "{{ user.id }}";
        let url_id = "{% url 'appreciate_post' %}";

        $.get(url_id, {'pk': user_id, 'art_pk': art_id, 'action':action}, function(data){
            let likes = data['likes'];
            if (data['message']){
                alert(data['message']);
                if (data['message'] === 'success'){
                    art_post_span.text(likes);
                }
            }
        });
    });
  </script>
{% endblock %}

{% block content %}
    <div class="card-deck">
        <div class="infinite-container">
            {% if current_user %}
                <a class="btn btn-dark" href={% url 'add_art' %}>Add art</a>
            {% endif %}
            {% if posts %}
            {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <div class="infinite-item">
                            {% if post.user.user_avatar %}
                                <img src="{{ post.user.user_avatar }}" />
                            {% else %}
                                <img src="{% static 'user-default.png' %}" />
                            {% endif %}

                            <a href="{% url 'user_profile' post.user.user_id %}">{{ post.user.get_username }}</a>
                            <p>{{ post.art.title }}</p>
                            <img src="{{ post.art.file }}"/>
                            <p>Likes: </p><span id="{{ post.art.id }}">{{ post.art.likes }}</span>

                            <button id="{{ post.art.id }}" class="btn btn-success appreciate like" type="submit" >Like</button>
                            <button id="{{ post.art.id }}" class="btn btn-danger appreciate dislike" type="submit" >Dislike</button>

                            {% if current_user %}
                                <a class="btn btn-danger" href={% url 'delete_art' post.art.id %}>Delete art</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
              <div class="loading" style="display: none;">
                Loading...
              </div>
            {% else %}
                <p>Sorry, you have no posts</p>
            {% endif %}
        </div>
    </div>
{% endblock %}