{% extends 'base.html' %}
{% load static %}
{% block title %}Current Posts{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
    <div class="infinite-container">
        {% if current_user %}
            <a href={% url 'add_art' %}>Add art</a>
        {% endif %}
        {% if posts %}
        {% for post in posts %}
            <div class="infinite-item">
                {% if post.user.user_avatar %}
                    <img src="{{ post.user.user_avatar }}" />
                {% else %}
                    <img src="{% static 'user-default.png' %}" />
                {% endif %}

                <p>{{ post.user.get_username }}</p>
                <p>{{ post.art.title }}</p>
                <img src="{{ post.art.file }}"/>
                <p>Likes: </p><span>{{ post.art.likes }}</span>

                <form id="likeform" class="form-inline float-md-right" action="{% url 'like_post' %}" method="get">
                    <button class="btn btn-success" type="submit">Like</button>
                </form>

                {% if current_user %}
                    <a href={% url 'delete_art' post.art.id %}>Delete art</a>
                {% endif %}
            </div>

        {% endfor %}
        {% else %}
            <p>Sorry, you have no posts</p>
        {% endif %}
    </div>
{% endblock %}