{% extends 'base.html' %}
{% load static %}
{% block title %}Search results{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
<script>
    $( "a[class~='relateAction']" ).click(function() {
        let relate_id = this.id;
        let action = '';
        console.log("found");
        if ($(this).hasClass('unfollow')){
            action = 'unfollow';
        }
        else if ($(this).hasClass('follow')){
            action = 'follow';
        }
        else if ($(this).hasClass('block')){
            action = 'block';
        }
        else if ($(this).hasClass('unblock')){
            action = 'unblock';
        }

        // let art_user_container = this.parent(".infinite-item");

        let user_id = "{{ user.id }}";
        let url_id = "{% url 'set_relationship' %}";
        $.get(url_id, {'pk': user_id, 'relate_pk': relate_id, 'action':action}, function(data){

            if (data['message']){
                alert(data['message']);
                //if (data['message'] === 'success'){
                //    art_user_container.remove();
                //}
            }
        });
    });
  </script>
{% endblock %}

{% block content %}
    <div class="infinite-container">
        <h3>Found people:</h3>
        {% if friends %}
        {% for friend in friends %}
            <div id="{{ friend.id }}" class="infinite-item card">
                <div class="card-body">
                    {% if friend.user_avatar %}
                        <img src="{{ friend.user_avatar.url }}"/>
                    {% else %}
                        <img src="{% static 'user-default.png' %}" />
                    {% endif %}
                    <p>{{ friend.get_username }}</p>
                    <a id="{{ friend.id }}" class="relateAction follow btn btn-dark" href="#">Follow</a>
                    <a id="{{ friend.id }}" class="relateAction block btn btn-danger" href="#">Block</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Sorry, I didn't find anything</p>
        {% endif %}
    </div>
    <div class="infinite-container">
        <h3>Found arts:</h3>
        {% if arts %}
        {% for art in arts %}
            <div class="infinite-item card">
                <div class="card-body">
                    <img src="{{ art.file.url }}"/>
                    <p>{{ art.title }}</p>
                    <a class="btn btn-dark" href="#">Add as an art</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Sorry, I didn't find anything</p>
        {% endif %}
    </div>
{% endblock %}