{% extends 'base.html' %}

{% block title %}Search results{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
    <div class="infinite-container">
        <h3>Found people:</h3>
        {% if friends %}
        {% for friend in friends %}
            <div class="infinite-item card">
                <div class="card-body">
                    <img src="{{ friend.user.user_avatar }}"/>
                    <p>{{ friend.username }}</p>
                    <a class="btn btn-dark" href="#">Follow</a>
                    <a class="btn btn-danger" href="#">Block</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Sorry, I didn't find anything</p>
        {% endif %}
    </div>
    <div class="infinite-container">
        <h3>Found arts:</h3>
        {% if arts %}
        {% for art in arts %}
            <div class="infinite-item card">
                <div class="card-body">
                    <img src="{{ art.file.url }}"/>
                    <p>{{ art.title }}</p>
                    <a class="btn btn-dark" href="#">Add as an art</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Sorry, I didn't find anything</p>
        {% endif %}
    </div>
{% endblock %}