{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <style>
        a.relateAction {
            text-transform: capitalize;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script>
        $( "a[class~='relateAction']" ).click(function() {
            let relate_id = this.id;
            let action = '';
            if ($(this).hasClass('unfollow')){
                action = 'unfollow';
            }
            else if ($(this).hasClass('follow')){
                action = 'follow';
            }
            else if ($(this).hasClass('block')){
                action = 'block';
            }
            else if ($(this).hasClass('unblock')){
                action = 'unblock';
            }

            let art_user_container = $(this).parent(".infinite-item");

            let user_id = "{{ user.id }}";
            let url_id = "{% url 'set_relationship' %}";
            $.get(url_id, {'pk': user_id, 'relate_pk': relate_id, 'action':action}, function(data){

                if (data['message']){
                    alert(data['message']);
                    if (data['message'] === 'success'){
                        art_user_container.remove();
                    }
                }
            });
        });
    </script>
{% endblock javascript %}

{% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user_profile.username }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            {% if art_user.user_avatar %}
                                <div class="image">
                                    <img style="height: 100px; width: 100px" src="{{ art_user.user_avatar.url }}" alt="User Image"/>
                                </div>
                            {% else %}
                                <div class="image">
                                    <img style="height: 100px; width: 100px" src="{% static 'user-default.png' %}" alt="User Image"/>
                                </div>
                            {% endif %}
                        </div>

                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Birth date:</td>
                                    <td>{{ art_user.birth_date }}</td>
                                </tr>
                                <tr>
                                    <td>Location:</td>
                                <td>{{ art_user.location }}</td>
                                </tr>
                                <tr>
                                    <td>Art Direction:</td>
                                    <td>{{ art_user.art_direction }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a class="nav-link" href="mailto:{{ user_profile.email }}">{{ user_profile.email }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                  <a href="#" id="{{ art_user.id }}" class="relateAction {{ follow_message }} btn btn-dark">{{ follow_message }}</a>
                  <a id="{{ art_user.id }}" class="relateAction {{ block_message }} btn btn-danger" href="#">{{ block_message }}</a>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <h3>Description</h3>
                <span class="pull-right">
                    {{ art_user.description }}
                </span>
            </div>
          </div>
        </div>
    </div>
{% else %}
    <p>You are not logged in</p>
    <a class="btn btn-dark" href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
