body {
  background: linear-gradient(110deg, #1d9b01 60%, #43c220 60%) no-repeat fixed;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222;
   color: white;
}

.AppFooter{
    text-align: center;
    padding: 10px;
}

.AppFooter p {
font-size: 1.1em;
}

.AppMenu {
    display: block;
    margin: 20px;
}

.PageContent {
    margin: 20px;
    padding: 20px;
}

.infinite-item, .loading {
  margin-bottom: 5px;
  background-color: #0b7;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}

.loading {
  background-color: #333;
}

#progress {
    border-bottom: 4px solid #FFF;
    width: 0;
    position: fixed;
    top: 0; left: 0;
  }

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000; !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000; !important;
    box-shadow: 0 1px 0 0 #000; !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #000; !important;
    box-shadow: 0 1px 0 0 #000; !important;
}

.message-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker-message {
    border-color: #ccc;
    background-color: #ddd;
}

.message-container::after {
    content: "";
    clear: both;
    display: table;
}

.message-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.message-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
